html,body{
    height:100%;
    margin:0 auto;
    zoom:100%;
    scroll-behavior: smooth;
}
.nav{
    width:100%;
    height:100px;
    text-align: right;
    position: fixed;  
    z-index:105;
    border-bottom: 1px white solid;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(7px);
    
}
.logo{
    max-width: 90px;
    MARGIN-TOP: 5px;
    margin-left:100px;
    transition:0.5s;
    cursor: pointer;
    box-sizing:border-box;
}
ul{
    display:block;
    margin-right:7%;
    margin-top:-65px;
    margin-bottom:0px;
    box-sizing:border-box;
}
ul a{  
    display:inline;
    color:#fff;
    text-decoration: none;
    background: linear-gradient(to left, #fff 100%, #000 15px, transparent 58px) no-repeat  center / 0 10%;
    transition: 0.1s;
    padding: 0 5px;
}
ul a:hover{  
    background-size:100% 100%;
    padding-bottom:5px;
    padding-top:4px;
    color:#000;
}
ul li{
    margin-top:50%;
    text-align: right;
    display:inline;
    font-weight: 600;
    font-size: 14px;
    font-family: share tech mono;
    margin:20px;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    line-height:2.1;
}
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
margin-top:35px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,33,9,1) 35%, rgba(255,0,0,1) 100%);;
  width: 0%;
}
.mentionslegales h2 p{
    font-family: raleway;
}